

.admin_login_continer {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    box-sizing: border-box;
    border: 1px solid gray;
    justify-content: center;
    background-color: aliceblue;
}
.admin_login_continer>h2 {
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.admin_login{
    width:100%;
    box-sizing: border-box;
}

.admin_login_continer>.admin_login {
    width: 100%;

}

.admin_login_continer>.admin_login>form>input {
    width: 100%;

}

.admin_login_continer>.admin_login>form>button {
    width: 100%;
}